.*
!.gitignore
!.gitattributes
!.travis.yml
!.build-all.sh

# Don't include personal docs
rpi-docs

firmware/firmware

part-*/**/build
part-*/**/*.asm
part-*/**/*.elf
part-*/**/*.hexdump
part-*/**/*.img
part-*/**/*.nm

compiler/gcc-arm*
